* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

:root {
  --rouse-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --primary-nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
} 

body {
  background-color: var(--eggshell);
  font-family: 'Outfit', sans-serif;
  font-size: clamp(.9rem, 1vw + 0.5rem, 1rem);
  max-width: 100%;
  min-height: 100vh;
}

main {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

article.recipe-container {
  background-color: white;
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 690px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

h1 {
  font-size: clamp(1.5rem, 1vw + 0.5rem, 1.5rem);
  margin: .8rem 0;
  font-family: 'Young Serif';
  font-weight: 500;
}

h2.ingredients-title, 
h2.instructions-title, 
h2.nutrition-title {
  font-family: 'Young Serif';
  color: var(--primary-nutmeg);
}

p,
p.nutrition-text,
li.info,
li.ingredient,
li.step {
  color: var(--wenge-brown);
}

p.nutrition-text {
  margin-top: 1rem;
}

section.preparation-container {
  margin: 2rem 0;
  padding: 1.5rem;
  background-color: var(--rouse-white);
  border: none;
  outline: none;
  border-radius: 8px;
}

h2.preparation-title {
  color: var(--dark-raspberry);
}

ul.info-list {
  margin-top: 1rem;
  margin-left: 2rem;
}

li.info {
  margin: .8rem 0;
  color: var(--wenge-brown);
}

span.info-title {
  font-weight: 600;
  color: var(--dark-charcoal);
}


ul.ingredients-list {
  margin: 1rem 2rem;
  list-style: square;
}

li.ingredient {
  margin: .5rem 0;
  padding-left: 1rem;
}

section.instructions-container {
  margin: 2rem 0;
}

ol.step-list {
  margin: 1rem 1rem;
}

li.step {
  padding-left: 1rem;
  margin: .7rem;
  color: var(--wenge-brown);
  line-height: 1.6;
}

span.step-title {
  font-weight: 600;
  color: var(--dark-charcoal);
}

.nutrition-table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table td {
  border-bottom: 1px solid var(--light-grey); 
  padding: 8px;
  text-align: left;
}

.nutrition-table tr {
  margin-bottom: 40px; 
}

td.table-item {
  color: var(--wenge-brown);
}

.attribution { margin-top: .5rem; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }